{% extends "base.html" %}

{% block content %}

    <center><h1>Add a Blog Entry</h1></center>

    <form method='post' action='/newpost'>
        <label>
            Title for your new blog:
        </label>

        <br>

        <input type="text" name='blog-title' />

        <br><br>

        <label>
            Your new blog: 
        </label>

        <br>

            <textarea name="blog-body"></textarea>
        <br><br>

        <input type="submit" value='Add Entry' />
    </form>

{% endblock %}